.block {
    width: 75%;
    margin: 0 auto;
    box-shadow: -1px 10px 100px 0px rgba(231,166,26,1);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: space-between;

    a {
        color: inherit;
    }
}

.ticker {
    font-size: 20px;
}

.price {
    font-size: 28px;
    margin-bottom: 10px;
}

.shortDescription {
    font-size: 20px;
    text-align: justify;
}

.image {
    width: 200px;
    padding-right: 15px;
}